.main {
    width: 100%;
    min-height: calc(100svh - var(--nav-height));
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.headerSection {
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: var(--padding-large);
}

.detailsSection {
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: var(--padding-large);
    padding-block: var(--padding-x2large);
}
